#inviteOuter {
  width: 30%;
  min-width: 305px;
  height: auto;
  margin: 7.3% auto;
  background-color: #E8E8E8;
  opacity: 0.75;
  filter: alpha(opacity=75);
  border: 2px solid;
  border-radius: 25px;
  text-align: center;
}

#inviteInner {
  width: 69%;
  height: auto;
  margin: 0 auto;
  background-color: #202020;
  filter: alpha(opacity=90);
  border: 2px solid;
  border-radius: 25px;
  min-width: 297px;
  color: white;
  text-align: left;
}

h3 {
  text-align: center;
}

.welcomeLink {
  color: white;
}

/* visited link */

.welcomeLink:visited {
  color: white;
}

/* mouse over link */

.welcomeLink:hover {
  color: #009900;
}

/* selected link */

.welcomeLink:active {
  color: #00CC33;
}

html {
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/img/background3.jpg");
  background-color: black;
  font-family: "Open Sans", Arial, serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, serif;
}

.formData {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.createAttributes {
  color: black;
}

#container {
  text-align: center;
  height: 100%;
}

#centerContent {
  display: inline-block;
  margin: 8% auto;
  height: auto;
  border-radius: 25px;
  opacity: 0.80;
  background: linear-gradient(#FFFFFF, #C0C0C0);
}

.welcome {
  margin: 0 auto;
  padding: 15px;
}

.errors {
  background-color: #202020;
  opacity: .9;
}

.listErrors {
  color: #FF0000;
  text-align: left;
  background-color: #FFFFFF;
  border-radius: 25px;
  opacity: .9;
}

/* Button specific */

.navButton {
  padding: 8px 13px;
  font-family: "Open Sans", Arial, serif;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  text-shadow: 3px 3px 10px #003300;
  color: #FFFFFF;
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#33FF00, #188BC0);
  /* Standard syntax */
  text-shadow: 0px 0px 7px #202020;
  border: 1px solid #202020;
}

.navButton:hover {
  color: #FFFFFF;
  background: linear-gradient(#33FF00, #000000);
}

.interactButton {
  padding: 8px 13px;
  font-family: "Open Sans", Arial, serif;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  color: #000000;
  outline: none;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.interactButton:hover {
  color: #FFFFFF;
  background: linear-gradient(#000000, #33FF33);
}