@import 'utility/siteVars';
@import 'utility/invite';
@import 'mixins/baseButton';
@import 'mixins/colorButton';
@import 'nav/nav';
@import 'nav/links';
@import 'nav/topNav';
  @include topNavColor($topNavBackgroundColor, $topNavColor, $topNavHoverBackground, $topNavHoverColor, $topNavDivBackground, $topNavDivColor, $topNavDivHoverColor, $topNavDivHoverBackground)


html{
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #ECF0F1;
  font-family: "Open Sans", Arial, serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, serif;

}

.formData
{
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
.createAttributes
{
  color: black;
}

#container
{
  text-align: center;
  height: 100%;
  width:100%;
  overflow: auto;
}

#centerContent
{
  width: 50%;
  height: 100%;
  font-family: "Open Sans", Arial, serif;
  margin: 71px auto;
}

#blankInner
{
  width: 69%;
  height: auto;
  margin: 0 auto;
  background-color: #ECF0F1;
  filter:alpha(opacity=90);
  border-radius: 25px;
  min-width: 297px;
  text-align: left;
}

.leftAligned
{
  text-align: left;
}

//Errors
.errors
{
  background-color: #202020;
  opacity: .9;
}
.listErrors
{
  color: #FF0000;
  text-align: left;
  background-color: #FFFFFF;
  border-radius: 25px;
  opacity: .9;
}

/* Button specific */
.navButton
{
  @include baseButton;
  text-shadow: 3px 3px 10px #003300;
  @include colorNavButton($navButtonColor1, $navButtonColor2, $navTextColor);
  &:hover
  {
    color: $navTextHoverColor;
    background: -webkit-linear-gradient($navHoverColor1, $navHoverColor2);
    background: -o-linear-gradient($navHoverColor1, $navHoverColor2);
    background: -moz-linear-gradient($navHoverColor1, $navHoverColor2);
    background: linear-gradient($navHoverColor1, $navHoverColor2);
  }
}
.interactButton
{
  @include baseButton;
  @include colorActButton($actButtonColor1, $actButtonColor2, $actTextColor);
  &:hover
  {
    color: $actTextHoverColor;
    background: -webkit-linear-gradient($actHoverColor1, $actHoverColor2);
    background: -o-linear-gradient($actHoverColor1, $actHoverColor2);
    background: -moz-linear-gradient($actHoverColor1, $actHoverColor2);
    background: linear-gradient($actHoverColor1, $actHoverColor2);
  }
}

