//Background image
$backgroundImg: '/img/background3.jpg';

//Nav Buttons
$navButtonColor1: #33FF00;
$navButtonColor2: #188BC0;
$navHoverColor1:  #33FF00;
$navHoverColor2:  #000000;
$navTextColor:    #FFFFFF;
$navTextHoverColor: #FFFFFF;

//Action Button Variables:
$actButtonColor2: #E8E8E8;
$actButtonColor1: #E8E8E8;
$actHoverColor1:  #000000;
$actHoverColor2:  #33FF33;
$actTextColor:    #000000;
$actTextHoverColor: #FFFFFF;

//Top Nav
$topNavBackgroundColor: #202020;
$topNavColor: #ECF0F1;
$topNavHoverBackground: #ECF0F1;
$topNavHoverColor: #27AE60;
$topNavDivBackground: #ECF0F1;
$topNavDivColor: #2C3E50;
$topNavDivHoverColor: #ECF0F1;
$topNavDivHoverBackground: #27AE60;